<html>
    <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" type="text/css" href="/about.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
         <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    
                    <a href="#" class="navbar-brand"><img class="image" src="fullstack-icon.png" alt="">D Wealth Hotel & Suits</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    Home
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Blog
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Rooms
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="/booking" class="nav-link">
                                    Bookings
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Gallery
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#flex" class="nav-link">
                                    Contact
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    About Us
                                </a>

                            </li>
                        </ul>

                    </div>

                </nav>
                <img style= width:100%; src="/nature.jpg">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center"><span class="color1">ABOUT D WEALTH</span> <span class="color2">HOTEL & SUITES</span></h1>
                    <p class="paragraph">
                        Eko Hotels & Suites is the most preferred hotel in West Africa and it's all about the right mix! Located in the heart of Victoria Island and shielded from the hustle and bustle of the 
                    
                        Lagos metropolis, we offer our corporate clients and walk in guests a perfect blend of relaxation, activities, and African tradition delicately infused to meet the highest international standards.

                        Overlooking the Eko Atlantic City and Ocean, it is just a 10-minute drive to the City Centre and only 45minutes away from the Airport.

                        Our hotels are designed for your comfort and convenience. Your security is our primary concern and you'll find our customer care second to none.

                        Our hotel has taken important steps to live up to West Africa's future model in the hospitality sector. With the best conference and banqueting facilities, tastefully furnished to a 7000-seater capacity, a world-class swimming pool,
                        
                        824 excellently furnished rooms spread across 4 hotels: EKO SIGNATURE, EKO SUITES, EKO HOTEL AND KURAMO GARDENS, mostly with a choice of city and sea views. We have 9 different restaurants and 7 different bars serving a range of international cuisines, amongst other facilities.

                        The hotel is equipped with a state of the art health and fitness centre comprising of a gym, a tennis/basket ball court, a volley ball court, a sauna, spa, salon, and nail studio. We have an in-house medical clinic as well.

                        We host the best themed buffet every Friday evening where we serve specialties across the globe: Africa, Asia, America, Italy, Mexico Middle East and Mongolia amongst others.

                        We are passionate about serving you and look forward to having you.

                        Welcome to Eko Hotels & Suites, Nesting International Standards with African Hospitality.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text"><span class="color1">OUR</span> <span class="color2">VISION</span></h1>
                    <ul class="paragraph">
                        <li>We aspire to be the leading and preferred hotel in West Africa</li>
                        <li>We are committed to exceeding guests' expectations</li>
                        <li>We are dedicated to providing impeccable facilities and personalized services</li>
                        <li>We are proud to deliver genuine care, comfort and warmth to all our guests</li>
                        <li>We pursue growth and development through continuous learning</li>
                        <li>We are constantly adapting to an ever-changing world</li>
                        <li>Eko Hotels & Suites... Nesting International Standards with African Hospitality</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text"><span class="color1">OUR</span> <span class="color2">VALUES</span></h1>
                    <ul class="paragraph">
                        <li>Commitment to Excellence</li>
                        <li>Pursuit of Growth</li>
                        <li>Genuine Care</li>
                        <li>Dedication</li>
                        <li>Creativity</li>
                        <li>Passion</li>
                        <li>Integrity and Discipline</li>
                        <li>Pride</li>
                        <li>Socially and Environmentally Responsible</li>
                    </ul>
                </div>
            </div>
        </div>

    <footer id="flex">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-s-4">
                <div class="chinedu">
                    <div class="a">
                        
                        <ul class="link">
                            <h4>Quick Links</h4>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Rooms</a>
                            </li>
                            <li>
                                <a href="/booking">Bookings</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="/about-us">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="b">
                    <h3>Address</h3> 
                    <p>No 187 East/West Road Rumuodara Junction
                        Port-Harcourt, Rivers State.
                    </p>
                    </div>

                    <div class="c">
                        <h3>Contact</h3> 
                        <i class="fa fa-phone" style="color: red;"></i><span> 09035223535</span>
                        <div>
                            <i class="fa fa-envelope" aria-hidden="true"></i><span> henry.ogonda@yahoo.com</span>
                        </div>
                        <div>
                            <a href="http://facebook.com" target="_blank" class="fa fa-facebook"></a>
                            <a href="http://twitter.com" target="_blank" class="fa fa-twitter"></a>
                            <a href="http://instagram.com" target="_blank" class="fa fa-instagram"></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <footer id="main-footer">
            <p class="text-center">Copyright &copy; 2021, Created by Nino</p>
        </footer>
    
    
</body>
</html>