<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link rel="stylesheet" type="text/css" href="/bookings.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    
                    <a href="#" class="navbar-brand"><img class="image" src="fullstack-icon.png" alt="">D Wealth Hotel & Suits</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    Home
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Blog
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Rooms
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="/booking" class="nav-link">
                                    Bookings
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Gallery
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="#flex" class="nav-link">
                                    Contact
                                </a>

                            </li>

                            <li class="nav-item">
                                <a href="/about-us" class="nav-link">
                                    About Us
                                </a>

                            </li>
                        </ul>

                    </div>

                </nav>
            </div>
        </div>

        <div class="head">
             <div class="row">

                <div class="col-md-12">
                    <div class="">
                        <h1 class="text"><span class="color1">Book Your</span> <span class="color2">Room Now</span></h1>
                    </div>
                </div>
            
            </div>
        </div>


         <div class="row">

                <div id="hotel" class="col-md-12">
                    <div class="">
                        
                        <div class="">
                             <form class="Bookings" action="/dashboard/booking" method="post">
                                    <div class="my-form">
                                        <label>Name</label>
                                        <input type="text" name="name" placeholder="Enter name" required/>
                                        <div class="invalid-feedback">
                                            Name is required
                                        </div>
                                    </div>

                                    <div class="my-form">
                                        <label>Phone Number</label>
                                        <input type="text" name="number" placeholder="Enter phone number" required/>
                                        <div class="invalid-feedback">
                                            Phone Number is required
                                        </div>
                                    </div>

                                    <div class="my-form">
                                        <label>Arrival Date</label>
                                        <input type="DATE" name="arrival" required>
                                        <div class="invalid-feedback">
                                            Arrival date is required
                                        </div>
                                    </div>
                                    
                                    <div class="my-form">
                                        <label>Departure Date</label>
                                        <input type="date" name="departure" required>
                                        <div class="invalid-feedback">
                                            Departure date is required
                                        </div>
                                    </div>
                                    
                                
                                    <div class="my-form">
                                        <label>Room type</label>
                                        <select name="room" required>
                                            <option value="Select here">Select here</option>
                                            <option value="Single">Single</option>
                                            <option value="Double">Double</option>
                                            <option value="Suit">Suit</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a room type
                                        </div>
                                    </div>
                            

                                

                                    <div class="my-form">
                                        <label>Adult</label>
                                        <input type="number" name="adult" required>
                                        <div class="invalid-feedback">
                                            This field is required
                                        </div>
                                    </div>
                                        
                                    <div class="my-form">
                                        <label>Children</label>
                                        <input type="number" name="children" required>
                                        <div class="invalid-feedback">
                                            This field is required
                                        </div>
                                    </div>
                                    
                                    <button class="btn btn-primary" type="submit">Book</button>
                             </form>
                        </div>
                    
                    </div>
                </div>
            
            </div>

    <footer id="flex">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-s-4">
                <div class="chinedu">
                    <div class="a">
                        
                        <ul class="link">
                            <h4>Quick Links</h4>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Rooms</a>
                            </li>
                            <li>
                                <a href="/booking">Bookings</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="/about-us">About Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="b">
                    <h3>Address</h3> 
                    <p>No 187 East/West Road Rumuodara Junction
                        Port-Harcourt, Rivers State.
                    </p>
                    </div>

                    <div class="c">
                        <h3>Contact</h3> 
                        <i class="fa fa-phone" style="color: red;"></i><span> 09035223535</span>
                        <div>
                            <i class="fa fa-envelope" aria-hidden="true"></i><span> henry.ogonda@yahoo.com</span>
                        </div>
                        <div>
                            <a href="http://facebook.com" target="_blank" class="fa fa-facebook"></a>
                            <a href="http://twitter.com" target="_blank" class="fa fa-twitter"></a>
                            <a href="http://instagram.com" target="_blank" class="fa fa-instagram"></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <footer id="main-footer">
            <p class="text-center">Copyright &copy; 2021, Created by Nino</p>
        </footer>


        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

        <script src="form-validation.js"></script>
       
</body>
</html>